<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mwt.oes.dao.TableExistsMapper" >

  <update id="createTableIfNotExists" parameterType="java.util.Map">
 CREATE TABLE IF NOT EXISTS ${currTableName}(select * from ${oriTableName} a where 1=2)
  </update>
</mapper>